## importing data

In [1]:
import pandas as pd
data=pd.read_csv('Churn_Modelling.csv')

In [2]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619.0,France,Female,42.0,2.0,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608.0,Spain,Female,41.0,1.0,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502.0,France,Female,42.0,8.0,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699.0,France,Female,39.0,1.0,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850.0,Spain,Female,43.0,2.0,125510.82,1,1,1,79084.10,0

# splitting data into features and labels

In [3]:
x=data.iloc[:,3:-1]
y=data.iloc[:,-1]

# data preprocessing

In [4]:
x=pd.get_dummies(x)
x.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619.0,42.0,2.0,0.00,1,1,1,101348.88,1,0,0,1,0
1,608.0,41.0,1.0,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502.0,42.0,8.0,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699.0,39.0,1.0,0.00,2,0,0,93826.63,1,0,0,1,0
4,850.0,43.0,2.0,125510.82,1,1,1,79084.10,0,0,1,1,0

In [5]:
from sklearn.impute import SimpleImputer
imp=SimpleImputer()
x=imp.fit_transform(x)

In [6]:
from sklearn.preprocessing import MinMaxScaler
scale=MinMaxScaler()
x=scale.fit_transform(x)
x

array([[0.538     , 0.32432432, 0.2       , ..., 0.        , 1.        ,
        0.        ],
       [0.516     , 0.31081081, 0.1       , ..., 1.        , 1.        ,
        0.        ],
       [0.304     , 0.32432432, 0.8       , ..., 0.        , 1.        ,
        0.        ],
       ...,
       [0.718     , 0.28274158, 0.7       , ..., 0.        , 1.        ,
        0.        ],
       [0.844     , 0.28274158, 0.3       , ..., 0.        , 0.        ,
        1.        ],
       [0.884     , 0.28274158, 0.4       , ..., 0.        , 1.        ,
        0.        ]])

## splitting data into trainning data and testing data

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.20)

## decision tree classifier

In [8]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.7905

In [9]:
y.value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

## random forest classifier

In [10]:
from sklearn.ensemble import RandomForestClassifier
model2=RandomForestClassifier()
model2.fit(x_train,y_train)
model2.score(x_test,y_test)

0.858

## data balance

In [11]:
from imblearn.over_sampling import SMOTE
sm=SMOTE()
x_new , y_new = sm.fit_resample(x,y)

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_new,y_new,test_size=.20)

In [13]:
from sklearn.tree import DecisionTreeClassifier
mode3=DecisionTreeClassifier()
mode3.fit(x_train,y_train)
mode3.score(x_test,y_test)

0.8314500941619586

In [14]:
from sklearn.ensemble import RandomForestClassifier
model4=RandomForestClassifier()
model4.fit(x_train,y_train)
model4.score(x_test,y_test)

0.9008160703075957

## support vector classifier

In [15]:
from sklearn.svm import SVC
model5=SVC()
model5.fit(x_train,y_train)
model5.score(x_test,y_test)

0.7777777777777778

## kneighbor classifier

In [16]:
from sklearn.neighbors import KNeighborsClassifier
model6=KNeighborsClassifier()
model6.fit(x_train,y_train)
model6.score(x_test,y_test)

E:\Anaconda\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.8301946013810421